<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги</title>
    <link rel="stylesheet" th:href="@{static/styles/services.css}">
</head>
<body>
<div class="content">
    <div class="nav">
        <div class="nav-bar">
            <a href="main">Главная</a>
            <a href="services">Услуги</a>
            <a href="time-management">Тайм-менеджмент</a>
        </div>
        <a class="phone-number"
           href="tel:+7 910 451-42-75">+7 910 451-42-75</a>
    </div>
    <div class="personal-tm-block">
        <div class="tm-title">
            Личный
        </div>
<ol>
    <p></p>
</ol>
        <div class="tm-text">
            <ol>
                <li>Решение вопросов с недостатком времени.е</li>
                <li>Обучение правильной расстановки приоритетов</li>
                <li>Поиск мотивации для достижения целей.</li>
                <li>Увеличение количества энергии для жизни</li>
            </ol>
        </div>
        <div class="price">2000р/ч</div>
    </div>

    <div class="corp-tm-block">
        <div class="icon-image"><img th:href="@{static/images/}" alt=""></div>
        <div class="tm-title">
            Корпоративный
        </div>
        <div class="tm-text">
            <ol>
                <li>Выявления причин непродуктивного времени на работе</li>
                <li>Правильная постановка задач на день, неделю, месяц</li>
                <li>Работа с канбаном</li>
                <li>Повышение мотивации у сотрудников</li>
            </ol>
        </div>
        <div class="price">Договорная</div>
    </div>
    <div class="system-block">
        <div class="tm-title">
            Систематизация бизнеса
        </div>
        <div class="tm-text">
            <ol>
                <li>Разработка бизнес-стратегии</li>
                <li>Построение системы измерения результатов</li>
                <li>Работа с организационной структурой предприятия</li>
                <li>Координация взаимодействия между отделами, подразделениями</li>
            </ol>
        </div>
        <div class="price">Договорная</div>
    </div>
    <div class="bs-block">
        <div class="tm-title">
            Бизнес-тренинги
        </div>
        <div class="tm-text">
            <ol>
                <li>Обзор тайм-менеджмента и его важность в повседневной жизни</li>
                <li>Анализ и планирование времени</li>
                <li>Делегирование и установление приоритетов</li>
                <li>Практика и отслеживание продвижения</li>
            </ol>
        </div>
        <!---->
        <div class="price">Договорная</div>
    </div>
</div>
<div class="footer">

</div>
</body>
</html>