<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" th:href="@{/static/styles/success.css}">
</head>
<body>
<div class="success-container">
    <img class="success-icon" th:src="@{/static/images/success-icon.svg}" alt="Success">
    <h2 class="thanks">Спасибо!</h2>
    <p class="success">Ваша заявка успешно отправлена!</p>
</div>
</body>
</html>
